@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9fafb;
}
body::-webkit-scrollbar {
    width: 6px;
    border-radius: 130px;
    background-color: #f4f6f9 !important;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
    border-radius: 130px;
    background-color: #f4f6f9 !important;
}
body::-webkit-scrollbar-thumb {
    background-color: #66727d;
    outline: 1px solid transparent;
    border-radius: 130px;
    position: absolute;
    z-index: 1100;
}
.left-50 {
    left: 52rem;
}
.kiHXWb {
    border-radius: 20px !important;
}